{
   "update":{
      "comment":[
         {
            "add":{
               "body":"Annulation de la demande. \n '{{ error_message }}'"
            }
         }
      ]
   },
   "transition":{
      "id":"{{ idstate[0] }}"
   }
}