{
   "update":{
      "comment":[
         {
            "add":{
               "body":"Fermeture de la demande."
            }
         }
      ]
   },
   "transition":{
      "id":"{{ idstate[0] }}"
   }
}