{
   "update":{
      "comment":[
         {
            "add":{
               "body":"Ticket résolu. \n {{ resolved_message }}"
            }
         }
      ]
   },
   "transition":{
      "id":"{{ idstate[0] }}"
   }
}